<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
 
  <div class="dropdown-container">
    <div class="dropdown" id="languageDropdown">
        {{ selected_language }}
        <div class="dropdown-content">
            <a href="{{ url_for('change_language', lang='english') }}">English</a>
            <a href="{{ url_for('change_language', lang='chinese') }}">Chinese</a>
        </div>
    </div>
  </div>

  
</body>
